@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 80%;
  padding: 30px 30px;
  border-radius: 20px;
  z-index: 102;
  background-color: rgb(245, 245, 250);
}
@media screen and (min-width: 768px) {
  #popup {
    width: 650px;
    height: 613px;
  }
}

.popup__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .popup__title {
    font-size: 38px;
  }
}

#cross {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

#cross::before {
  transform: rotate(45deg);
}

#cross::after {
  transform: rotate(-45deg);
}

#cross::before, #cross::after {
  position: absolute;
  top: 10px;
  right: 9px;
  content: "";
  width: 3px;
  height: 24px;
  background-color: rgb(236, 111, 93);
  z-index: 2;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #cross::before, #cross::after {
    top: 30px;
    right: 35px;
  }
}

#name {
  margin-top: 30px;
}

#name, #email, #number {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 8px;
  border: 0;
}

#message {
  width: 100%;
  margin-bottom: 15px;
  padding: 15px 0 75px 15px;
  border-radius: 8px;
  border: 0;
}

.popup__title--second {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(179, 179, 186);
}

#send {
  margin-top: 30px;
  width: 100%;
  padding: 18px 30px 18px 30px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 0;
  background-color: rgb(36, 163, 255);
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
}
#send:hover {
  background-color: rgb(0, 133, 255);
}
#send:active {
  background-color: rgb(0, 108, 207);
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 11px;
}
@media screen and (min-width: 768px) {
  .info {
    margin-top: 50px;
    position: none;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding-left: 47px;
  }
}
@media screen and (min-width: 1024px) {
  .info {
    justify-content: end;
    padding-right: 40px;
  }
}
.info::after {
  content: "";
  background-color: rgba(245, 245, 250, 0.2);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .info::after {
    display: none;
  }
}
.info--pub::after {
  background-color: rgb(245, 245, 250);
}
.info .lang {
  width: 30%;
  padding-left: 1%;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .info .lang {
    width: 112px;
    align-items: center;
  }
  .info .lang::after {
    content: "";
    background-color: rgb(230, 230, 240);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 22px;
    left: 148px;
    position: absolute;
    z-index: 100;
  }
}
@media screen and (min-width: 1024px) {
  .info .lang::after {
    content: "";
    display: block;
    background-color: rgb(230, 230, 240);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: -14px;
    left: 90px;
    position: relative;
    z-index: 100;
  }
}
.info .lang__list {
  display: flex;
  flex-direction: row;
}
.info .lang__item {
  font-size: 12px;
  font-weight: 700;
  padding: 5px 7px 5px 7px;
  border-radius: 8px;
}
.info .lang__item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.info .lang__item:active {
  background-color: rgb(240, 20, 90);
}
.info .lang__link--pub:nth-child(n) {
  color: rgb(179, 179, 186);
}
.info .lang__link {
  color: white;
  text-decoration: none;
  gap: 6px;
}
.info .contact {
  margin-top: 5px;
  display: flex;
  gap: 15px;
  color: white;
}
@media screen and (min-width: 1920px) {
  .info .contact {
    gap: 20px;
  }
}
.info .contact__text--pub {
  color: rgb(179, 179, 186);
}
.info .contact__text {
  display: none;
}
@media screen and (min-width: 768px) {
  .info .contact__text {
    display: block;
  }
  .info .contact__text::after {
    content: "";
    background-color: rgb(230, 230, 240);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 22px;
    left: 365px;
    position: absolute;
    z-index: 100;
  }
}
@media screen and (min-width: 1024px) {
  .info .contact__text::after {
    content: "";
    display: block;
    background-color: rgb(230, 230, 240);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: -11px;
    left: 205px;
    position: relative;
    z-index: 100;
  }
}
@media screen and (min-width: 1870px) {
  .info .contact__text {
    margin-left: 5px;
  }
}
.info .contact__number {
  font-weight: 700;
  color: rgb(255, 255, 255);
  z-index: 10;
}
.info .contact__number:hover {
  text-decoration: none;
  color: rgb(240, 20, 90);
}
@media screen and (min-width: 768px) {
  .info .contact__number::after {
    content: "";
    background-color: rgb(230, 230, 240);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 22px;
    left: 484px;
    position: absolute;
    z-index: 100;
  }
}
@media screen and (min-width: 1024px) {
  .info .contact__number::after {
    content: "";
    display: block;
    background-color: rgb(230, 230, 240);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: -11px;
    left: 108px;
    position: relative;
    z-index: 100;
  }
}
.info .contact__number--pub {
  color: rgb(179, 179, 186);
}
.info .contact__link {
  display: none;
  padding: 12px;
  background: url(".../../../images/Vector.png") no-repeat;
  background-size: contain;
}
.info .contact__link:hover {
  background: url(".../../../images/Vectorhover.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .info .contact__link {
    display: block;
  }
}

.navigation {
  margin-top: 3.2%;
  width: 90%;
  position: absolute;
  top: 30px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: column;
    top: 90px;
  }
}
@media screen and (min-width: 1024px) {
  .navigation {
    flex-direction: row;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .navigation {
    width: 91%;
  }
}
.navigation--pub {
  width: 89.4%;
}
.navigation .logo {
  display: flex;
}
@media screen and (min-width: 768px) {
  .navigation .logo {
    gap: 10px;
  }
}
.navigation .logo__link {
  width: 150px;
}
.navigation .logo__slash {
  display: block;
  max-height: 55px;
  padding-top: 20px;
  padding-right: 10px;
}
@media screen and (min-width: 768px) {
  .navigation .logo__slash {
    display: none;
  }
}
.navigation .logo__slash--large {
  margin-bottom: 18px;
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation .logo__slash--large {
    display: block;
  }
}
.navigation .logo__picture {
  padding-top: 10%;
  width: 70%;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .navigation .logo__picture {
    display: none;
  }
}
.navigation .logo__picture--sv {
  padding-right: 0;
  width: 80%;
}
.navigation .logo__pub {
  width: 80%;
  padding-right: 0;
}
@media screen and (min-width: 768px) {
  .navigation .logo__pub {
    display: none;
  }
}
.navigation .logo__title {
  font-size: 20px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}
@media screen and (min-width: 768px) {
  .navigation .logo__title {
    padding-top: 10px;
    align-items: baseline;
    font-size: 36px;
  }
}
.navigation .logo__title--pub {
  color: rgb(50, 50, 100);
}
.navigation .logo__picture--large {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation .logo__picture--large {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .navigation .logo__picture--large {
    padding-bottom: 20px;
  }
}

/* Скрытый чекбокс для бургер-меню */
#menu__toggle {
  display: none;
}

/* Стилизация кнопки бургер-меню */
.menu__btn {
  display: none; /* Скрываем кнопку по умолчанию */
}

/* Если ширина экрана меньше 768px, показываем бургер-меню */
@media screen and (max-width: 767.8px) {
  /* Показываем кнопку бургер-меню */
  .menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    width: 18px;
    height: 26px;
    cursor: pointer;
    z-index: 101;
  }
  .crosses {
    display: block;
    position: relative;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
  .crosses::before {
    position: fixed;
    display: block;
    top: 65px;
    right: 40px;
    content: "";
    width: 3px;
    height: 24px;
    background-color: rgb(236, 111, 93);
    z-index: 2;
    cursor: pointer;
    transform: rotate(45deg);
  }
  .crosses::after {
    position: fixed;
    display: block;
    top: 65px;
    right: 40px;
    content: "";
    width: 3px;
    height: 24px;
    background-color: rgb(236, 111, 93);
    z-index: 2;
    cursor: pointer;
    transform: rotate(-45deg);
  }
  /* Стилизация "гамбургера" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .menu__btn--pub > span,
  .menu__btn--pub > span::before,
  .menu__btn--pub > span::after {
    background-color: rgb(50, 50, 100);
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  #menu__toggle:checked + .menu__btn + .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 40px;
    left: -100%;
    width: 98%;
    height: 100%;
    margin: 1%;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }
  .menu__item {
    display: block;
    margin-inline: auto;
    margin-bottom: 15px;
    width: 80%;
    padding: 12px 24px;
    color: rgb(36, 163, 255);
    border-radius: 12px;
    background-color: rgb(245, 245, 250);
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
  }
  .menu__item:hover {
    color: rgb(240, 20, 90);
    text-decoration: none;
  }
  .menu__item:active {
    background-color: rgb(230, 230, 240);
    text-decoration: none;
    color: rgb(36, 163, 255);
  }
  .menu__item--sv {
    color: rgb(240, 20, 90);
  }
}
@media screen and (min-width: 768px) {
  .menu__box {
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    text-align: center;
    color: white;
  }
  .menu__item {
    display: block;
    margin-top: 10px;
    padding: 12px 15px 12px 0;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
  }
  .menu__item--pub {
    color: rgb(36, 163, 255);
  }
  .menu__item:hover {
    color: rgb(240, 20, 90);
    text-decoration: none;
    transition: all 0.5s;
    transform: scale(1.02);
  }
  .menu__item:hover::after {
    content: "";
    position: relative;
    width: 100%;
    height: 2px;
    display: block;
    top: 5px;
    right: 0;
    background: #F0145A;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
  }
}
header.header--sv {
  background: none;
  min-height: 120px;
}
@media screen and (min-width: 768px) {
  header.header--sv {
    min-height: 200px;
  }
}

.header {
  background: url(".../../../images/Symbol.png") no-repeat;
  background-size: 525px 600px;
  background-position: center;
  min-height: 600px;
}
@media screen and (min-width: 768px) {
  .header {
    background-size: 893px 1024px;
    min-height: 1024px;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    background-size: 768px 768px;
    min-height: 768px;
  }
}
@media screen and (min-width: 1440px) {
  .header {
    background-size: 768px 799px;
    min-height: 800px;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    background-size: 900px 1000px;
    min-height: 920px;
  }
}
.header__back {
  width: 100%;
  background: linear-gradient(-110deg, rgb(50, 50, 100), rgb(50, 50, 100), rgb(100, 62, 114));
  border-radius: 0 0 12px 12px;
}

.hero {
  text-align: center;
}
.hero__title {
  font-size: 38px;
  padding: 240px 0 180px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding: 477px 0 420px;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    padding: 365px 0 280px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    padding: 378px 0 315px;
  }
}
@media screen and (min-width: 1920px) {
  .hero__title {
    padding: 448px 0 345px;
  }
}

.scroll {
  width: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}
.scroll__link {
  display: block;
  padding: 23px;
  background: url(".../../../images/Scroll.png") no-repeat;
}
.scroll__link:hover {
  background: url(".../../../images/Scrollred.png") no-repeat;
}

.border::before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 96.5%;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: rgb(202, 202, 219);
}
.border::after {
  content: "";
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 93.5%;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: rgb(231, 231, 242);
}

.popup-trigger {
  display: block;
  margin: 0 auto;
  padding: 35px 55px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.3s ease 0s;
}
.popup-trigger:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.customer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .customer {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .customer {
    flex-direction: row;
    gap: 60px;
  }
}
@media screen and (min-width: 1440px) {
  .customer {
    padding-inline: 120px;
  }
}
.customer__menu {
  border-bottom: 4px solid rgba(255, 255, 255, 0.3);
}
@media screen and (min-width: 1024px) {
  .customer__menu {
    border-bottom: 0;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
  }
}
.customer__list {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  gap: 20px;
  overflow-x: scroll;
}
@media screen and (min-width: 1024px) {
  .customer__list {
    flex-direction: column;
    overflow: hidden;
    text-align: right;
    padding-right: 60px;
    gap: 30px;
  }
}
.customer__link {
  font-size: 30px;
  font-weight: 700;
  color: rgb(179, 179, 186);
  white-space: nowrap;
}
.customer__link:hover {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .customer__link {
    font-size: 38px;
  }
}
.customer__link--active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.customer .customer-block {
  margin-top: 10px;
}
@media screen and (min-width: 1024px) {
  .customer .customer-block {
    margin-top: 0;
  }
}
.customer .customer-block__title {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .customer .customer-block__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .customer .customer-block__title {
    margin-top: 5px;
  }
}
.customer .customer-block__text {
  margin-top: 25px;
  font-size: 19px;
  color: #ffffff;
  line-height: 1.2;
  opacity: 0.8;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .customer .customer-block__text {
    font-size: 19px;
    line-height: 1.7;
  }
}

.advantages {
  margin-top: 25px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .advantages {
    margin-top: 60px;
  }
}
.advantages__link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(36, 163, 255);
}
.advantages__link:hover {
  color: rgb(0, 133, 255);
  text-decoration: none;
}
.advantages__link:active {
  color: rgb(0, 108, 207);
}
.advantages__title--main {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .advantages__title--main {
    font-size: 38px;
    margin-bottom: 60px;
  }
}
.advantages__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .advantages__block {
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .advantages__item {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .advantages__item {
    width: 28.9%;
  }
}
.advantages__picture {
  padding-top: 15px;
  margin-bottom: 30px;
}
.advantages__title {
  font-size: 22px;
  font-weight: 700;
  color: rgb(36, 163, 255);
  margin-bottom: 15px;
}
.advantages__text {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  opacity: 0.8;
}

.team {
  border-radius: 12px 0;
  margin-top: 30px;
  background-color: rgb(245, 245, 250);
}
@media screen and (min-width: 768px) {
  .team {
    margin-top: 60px;
  }
}
.team .team__link {
  display: block;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(36, 163, 255);
  text-transform: uppercase;
}
.team .team__link:hover {
  color: rgb(0, 133, 255);
  text-decoration: none;
}
.team .team__link:active {
  color: rgb(0, 108, 207);
}
.team .slider__picture {
  border-radius: 12px 12px 0 0;
  min-width: 100%;
}
@media screen and (min-width: 1024px) {
  .team .slider__picture {
    min-width: 45%;
    border-radius: 0;
  }
}
@media screen and (min-width: 1440px) {
  .team .slider__picture {
    min-width: 30%;
  }
}
@media screen and (min-width: 1920px) {
  .team .slider__picture {
    min-width: 20%;
  }
}
.team__text {
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 7px;
  width: 87.5%;
  line-height: 1.3;
}
@media screen and (min-width: 768px) {
  .team__text {
    font-size: 38px;
  }
}
.team__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    font-size: 38px;
  }
}
@media screen and (min-width: 1024px) {
  .team__item {
    display: flex;
    flex-direction: row;
  }
}
.team .team__title {
  width: 70%;
  margin-top: 30px;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(179, 179, 186);
  line-height: 1.2;
}
.team .team__title--second {
  margin-top: 6px;
  margin-left: 30px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(179, 179, 186);
  line-height: 1.3;
}
.team .slider__circle {
  padding-top: 20px;
  background-color: white;
}

.buyers {
  margin-top: 60px;
}
.buyers__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 30px;
  color: rgb(50, 50, 100);
}
.buyers__logo {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
@media screen and (min-width: 768px) {
  .buyers__logo {
    display: none;
  }
}
.buyers__logo--large {
  display: none;
}
@media screen and (min-width: 768px) {
  .buyers__logo--large {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
@media screen and (min-width: 1024px) {
  .buyers__logo--large {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1920px) {
  .buyers__logo--large {
    padding-inline: 100px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .buyers__picture {
    min-width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .br-tl {
    border-radius: 12px 0 0 0;
  }
  .br-tr {
    border-radius: 0 12px 0 0;
  }
  .br-bl {
    border-radius: 0 0 0 12px;
  }
  .br-br {
    border-radius: 0 0 12px 0;
  }
}
.wrap {
  background-color: rgb(245, 245, 250);
}

.news {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  margin-bottom: 30px;
}
.news--pub {
  margin-top: 70px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
.news__link {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: rgb(36, 163, 255);
}
.news__link:hover {
  color: rgb(0, 133, 255);
  text-decoration: none;
}
.news__link:active {
  color: rgb(0, 108, 207);
}
.news__title--main {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  padding-top: 5px;
  margin-bottom: 30px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 1024px) {
  .news__title--main {
    font-size: 38px;
  }
}
.news__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 1024px) {
  .news__content {
    flex-direction: row;
    width: 100%;
  }
}
.news__block--spec {
  background-color: #ffffff;
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .news__block--spec {
    width: 70%;
  }
}
@media screen and (min-width: 1640px) {
  .news__block--spec {
    width: 57%;
  }
}
.news__wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .news__wrap {
    flex-direction: row;
  }
}
.news__block {
  background-color: #ffffff;
  width: 100%;
  border-radius: 12px;
}
.news__info {
  margin-inline: 30px;
}
.news__picture {
  min-width: 100%;
}
.news__title {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(36, 163, 255);
  line-height: 1.2;
}
.news__title:hover {
  color: rgb(0, 133, 255);
  text-decoration: none;
}
.news__title:active {
  color: rgb(0, 108, 207);
}
.news__title--second {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(179, 179, 186);
  margin-bottom: 15px;
}
.news__text {
  padding-top: 15px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 1.4;
  color: black;
  border-top: 4px solid rgb(230, 230, 240);
}

.publications {
  margin-top: 60px;
}
.publications__picture {
  border-radius: 12px;
  min-width: 100%;
  min-height: 300px;
}
@media screen and (min-width: 768px) {
  .publications__picture {
    min-height: 500px;
  }
}
.publications__title--main {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  color: rgb(50, 50, 100);
}
.publications__title--sm {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(179, 179, 186);
}
.publications__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.publications__text--spec {
  border-top: 4px solid rgb(230, 230, 240);
  padding-top: 30px;
}
.publications__title--spec {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.publications__title {
  font-size: 16px;
  font-weight: 700;
  color: rgb(70, 70, 110);
  margin-bottom: 15px;
}
.publications__list {
  font-weight: 700;
  color: rgb(240, 20, 90);
}
.publications__item {
  margin-inline: 30px;
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 15px;
  list-style: auto;
}
.publications .item--text {
  color: #000000;
  font-weight: 400;
}
.publications__ads {
  display: block;
  margin-inline: auto;
}
.publications__text--sm {
  font-size: 14px;
  text-align: center;
  line-height: 1.2;
  color: rgb(179, 179, 186);
  margin-bottom: 30px;
}
.publications__text--br {
  border-bottom: 4px solid rgb(230, 230, 240);
  padding-bottom: 30px;
}
.publications .social {
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.publications .social__link {
  width: 42px;
  height: 42px;
  background-color: rgb(245, 245, 250);
  border-radius: 12px;
}
.publications .social__link:hover {
  background-color: rgb(237, 237, 247);
}
.publications .social__picture {
  display: block;
  margin-top: 12px;
  margin-left: 9px;
}

.footer {
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }
}
.footer div.item--sv {
  border-top: 0;
}
.footer__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .footer__item {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    border-top: 2px solid #E6E6F0;
    text-align: start;
  }
}
.footer__item--sv {
  border-top: 0;
}
.footer__block--address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 30px;
  border-top: 2px solid rgb(230, 230, 240);
}
@media screen and (min-width: 768px) {
  .footer__block--address {
    grid-column: 1/2;
    grid-area: 1/1;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    gap: 26px;
    border-top: 0;
  }
  .footer__block--address::after {
    content: "";
    background-color: rgb(179, 179, 186);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 0;
    left: -100px;
    bottom: 0;
    right: 0;
    position: relative;
    z-index: 100;
  }
}
.footer .block__address--sv {
  border-top: 0;
}
.footer__text {
  font-size: 16px;
  line-height: 1.2;
  color: rgb(50, 50, 100);
}
.footer__link {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(36, 163, 255);
  text-transform: uppercase;
}
.footer__link:hover {
  color: rgb(0, 133, 255);
  text-decoration: none;
}
.footer__link:active {
  color: rgb(0, 108, 207);
}
.footer__block--contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .footer__block--contact {
    grid-column: 1/2;
    grid-area: 2/1;
    flex-direction: row;
    align-items: center;
    gap: 26px;
  }
  .footer__block--contact::after {
    content: "";
    background-color: rgb(179, 179, 186);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 0;
    left: -245px;
    bottom: 0;
    right: 0;
    position: relative;
    z-index: 100;
  }
}
.footer__link--logo {
  display: block;
  margin-top: 11px;
  margin-inline: auto;
  height: 38px;
  width: 38px;
  background: url(".../../../images/Vectorlarge.png") no-repeat;
  background-size: cover;
}
.footer__link--logo:hover {
  background: url(".../../../images/Facebook-Footerhov.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .footer__link--logo {
    margin-top: 0;
    margin-inline: 0;
  }
  .footer__link--logo::after {
    content: "";
    background-color: rgb(179, 179, 186);
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 16px;
    left: 48px;
    bottom: 0;
    right: 0;
    display: block;
    position: relative;
    z-index: 100;
  }
}
.footer__link--phone {
  font-size: 16px;
  font-weight: 700;
  color: rgb(70, 70, 110);
}
.footer__link--phone:hover {
  color: rgb(240, 20, 90);
  text-decoration: none;
}
.footer__link--phone:active {
  color: rgb(240, 20, 90);
}
.footer__link--email {
  font-size: 16px;
  font-weight: 700;
  color: rgb(36, 163, 255);
}
.footer__link--email:hover {
  color: rgb(240, 20, 90);
  text-decoration: none;
}
.footer__link--email:active {
  color: rgb(240, 20, 90);
}
.footer__block--copyright {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer__block--copyright {
    padding-top: 20px;
    text-align: left;
  }
}
.footer__copyright--text {
  font-size: 16px;
  color: rgb(179, 179, 186);
}
@media screen and (min-width: 768px) {
  .footer__copyright--text {
    text-align: right;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

.conteiner {
  width: min(100% - 60px, 1600px);
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: min(100% - 120px, 1600px);
  }
}

.conteiner--head {
  width: min(100% - 40px, 1600px);
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .conteiner--head {
    width: min(100% - 120px, 1600px);
  }
}
@media screen and (min-width: 1920px) {
  .conteiner--head {
    width: min(100% - 360px, 1600px);
  }
}

.conteiner--pub {
  width: min(100% - 60px, 1600px);
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .conteiner--pub {
    width: min(100% - 120px, 1600px);
  }
}
@media screen and (min-width: 1440px) {
  .conteiner--pub {
    width: min(100% - 360px, 1600px);
  }
}
@media screen and (min-width: 1920px) {
  .conteiner--pub {
    width: min(100% - 560px, 1600px);
  }
}/*# sourceMappingURL=style.css.map */