@use "../../presets" as *;

.advantages {
    margin-top: 25px;
    padding-bottom: 60px;

    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }

    &--sv {
        @media screen and (min-width: 768px) {
            margin-top: 65px;
        }
    }
    
    
    &__link {
        font-size: $font-size--sm;
        font-weight: $font-weight--lg;
        letter-spacing: $letter-spacing ;
        text-transform: uppercase;
        color: $color-active;

        &:hover {
            color: $color-active--hover;
            text-decoration: none;
        }

        &:active {
            color: $color-active--active;
        }

    }

    &__title--main {
        margin-top: 10px;
        margin-bottom: 30px;
        font-size: $font-size-title--mob;
        font-weight: $font-weight--lg;
        background: $gradient--text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (min-width: 768px) {
            font-size: $font-size-title;
            margin-bottom: 60px;
        }
    }

    &__block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media screen and (min-width: 768px) {
           gap: $gap-lg;
        }
    }
    
    &__item {

        @media screen and (min-width: 768px) {
            width: 45%;
        }

        @media screen and (min-width: 1024px) {
            width: 28.9%;
        }
    }


    &__picture {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 22px;
        font-weight: $font-weight--lg;
        color: $color-active;
        margin-bottom: 15px;
    }

    &__text {
        font-size: $font-size;
        line-height: 1.6;
        color: $color-white;
        opacity: 0.8;

    }
}