@use "../../presets" as *;

.wrap {
    background-color: $color-grey--bg;
}

.news {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 30px;

    &--pub {
        margin-top: 70px;
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    &__link {
        font-size: $font-size--sm;
        font-weight: $font-weight--lg;
        letter-spacing: $letter-spacing;
        text-transform: uppercase;
        color: $color-active;
    }

    &__title--main {
        font-size: $font-size-title--mob;
        font-weight: $font-weight--lg;
        line-height: 1.2;
        padding-top: 10px;
        margin-bottom: 30px;
        background: $gradient--text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media screen and (min-width: 1024px) {
            font-size: $font-size-title;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: $gap;
        
        @media screen and (min-width: 1024px) {
            flex-direction: row;
            width: 100%;
        }
    }
    
    &__block--spec {
        background-color: $color-white;
        width: 100%;
        @media screen and (min-width: 1440px) {
            width: 70%;
        }
        @media screen and (min-width: 1640px) {
            width: 57%;
        }
    }

    &__wrap {
        display: flex;
        flex-direction: column;
        gap: $gap;

        
        @media screen and (min-width: 768px) {
            flex-direction: row;
        }
    }

        &__block {
            background-color: $color-white;
            width: 100%;
            border-radius: 12px;
        }

        &__info {
            margin-inline: 30px;
        }

        &__picture {
            min-width: 100%;
        }

        &__title, &__link {
            &:hover {
                color: $color-active--hover;
                text-decoration: none;
            }

            &:active {
                color: $color-active--active;
            }
        }

        &__title {
            display: block;
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: $font-size;
            font-weight: $font-weight--lg;
            color: $color-active;
            line-height: 1.2;
        }

        &__title--second {
            font-size: $font-size--sm-mob;
            font-weight: $font-weight--lg;
            letter-spacing: $letter-spacing;
            color: $color-grey--text;
            margin-bottom: 15px;
        }

        &__text {
            padding-top: 15px;
            padding-bottom: 30px;
            font-size: $font-size--sm;
            line-height: 1.4;
            color: $color-black;
            border-top: 4px solid $color-grey--sep;
        }
}