@use "../../presets" as *;


.publications {
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }

    @media screen and (min-width: 1024px) {
        margin-top: 30px;
    }

    @media screen and (min-width: 1920px) {
        margin-top: 20px;
    }

    &__picture {
        border-radius: 12px;
        min-width: 101%;
        min-height: 250px;
        

        @media screen and (min-width: 768px) {
            min-height: 500px;
        }
    }

    &__title--main {
        margin-top: 30px;
        font-size: $font-size--spec;
        font-weight: $font-weight--lg;
        line-height: 1.3;
        color: $color-main--regular;
    }

    &__title--sm {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: $font-size--sm-mob;
        font-weight: $font-weight--lg;
        letter-spacing: $letter-spacing;
        color: $color-grey--text;
    }

    &__text {
        font-size: $font-size;
        line-height: 1.6;
        margin-bottom: 30px;
    }

    &__text--spec {
        border-top: 4px solid $color-grey--sep;
        padding-top: 30px;
    }

    &__title--spec {
        font-size: $font-size-title--mob;
        font-weight: $font-weight--lg;
        line-height: 1.4;
        background: $gradient--text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
    }

    &__title {
        font-size: $font-size;
        font-weight: $font-weight--lg;
        color: $color-main--alt;
        margin-bottom: 15px;
    }

    &__list {
        font-weight: $font-weight--lg;
        color: $color-list;
    }
    
    &__item {
        margin-inline: 30px;
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 15px;
        list-style: auto;
    }

    .item--text {
        color: $color-black;
        font-weight: $font-weight;
    }

    &__ads {
        display: block;
        margin-inline: auto;
    }

    &__text--sm {
        font-size: $font-size--sm;
        text-align: center;
        line-height: 1.2;
        color: $color-grey--text;
        margin-bottom: 30px;
    }

    &__text--br {
        border-bottom: 4px solid $color-grey--sep;
        padding-bottom: 30px;
    }

    .social {
        display: flex;
        flex-direction: row;
        gap: $gap-item;
        
        
        &__link {
            width: 42px;
            height: 42px;
            background-color: $color-grey--bg;
            border-radius: 12px;

            &:hover {
                background-color: $color-grey--bg-alt;
            }
        }

        &__picture {
            display: block;
            margin-top: 12px;
            margin-left: 9px;
        }
    }

}
