@use "../../presets" as *;

.team {

    border-radius: 12px 0;
    margin-top: 30px;
    background-color: $color-grey--bg;
    
    @media screen and (min-width: 768px) {
        margin-top: 60px;
    }
    

    .team__link {
        display: block;
        margin-left: 30px;
        margin-top: 30px;
        font-size: 14px;
        font-weight: 700;
        color: $color-active;
        text-transform: uppercase;

        &:hover {
            color: $color-active--hover;
            text-decoration: none;
        }

        &:active {
            color: $color-active--active;
        }
    }

    .slider__picture {
        border-radius: 12px 12px 0 0 ;
        min-width: 100%;

        @media screen and (min-width: 1024px) {
            min-width: 45%;
            border-radius: 0;
        }

        @media screen and (min-width: 1440px) {
            min-width: 30%;
        }

        @media screen and (min-width: 1920px) {
            min-width: 20%;
          }

    }

    &__text {
        font-size: $font-size-title--mob;
        font-weight: $font-weight--lg;
        background: $gradient--text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-left: 30px;
        margin-right: 30px;
        width: 87.5%;
        line-height: 1.3;
        
        @media screen and (min-width: 768px) {
            font-size: 38px;
        }

    }

    &__item {
        width: 100%;
        @media screen and (min-width: 768px) {
            font-size: $font-size-title;
        }
        @media screen and (min-width: 1024px) {
            display: flex;
            flex-direction: row;
        }
    }

    .team__title {
        width: 70%;
        margin-top: 30px;
        margin-left: 30px;
        font-size: $font-size;
        font-weight: $font-weight--lg;
        color: $color-grey--text;
        line-height: 1.2;
    }

    .team__title--second {
        margin-top: 6px;
        margin-left: 30px;
        font-size: $font-size--sm;
        font-weight: 400;
        color: $color-grey--text;
        line-height: 1.3;
    }

    .slider__circle {
        padding-top: 20px;
        background-color: $color-white;

    }
}